body {
    display: flex;
    justify-content: center;
    min-width: 400px;
    background-color: rgb(236, 236, 236);
    font-family: 'Montserrat', sans-serif;
}

.fowleyMain {
    width: 1200px;
    margin: 30px 0 10px 0;
    display: flex;
    flex-flow: row nowrap;
    align-items: start;
}



/* Sidebar styles */



.fowleyIntro {
    width: 380px;
    padding: 10px;
    top: 37px;
}

.fowleyIntroContainer {
    width: 320px;
}

.fowleyPictureContainer {
    display: flex;
    justify-content: center;
}

.fowleyPictureContainer img {
    width: 240px;
    margin-bottom: 30px;
}

.fowleyIntroParagraph {
    font-size: 16px;
    line-height: 1.5;
    text-align: left;
}

.introParagraphAccent {
    font-weight: bold;
    color: #250daa;
    font-weight: 600;
}

.pageHref, .pageHref:active, .pageHref:hover, .pageHref:visited, .pageHref:link {
    color:#4b2bff;
}

.fowleyGreeting {
    font-family: 'Lato';
    font-size: 20px;
    font-weight: 600;
    margin-top: 0px;
    margin-bottom: 15px;
}

.notFowley {
    display: inline;
    color: #250daa;
}

.headerFowleyIcon {
    display: inline;
    height: 32px;
    width: auto;
}

.homepageDivider {
    height: 0;
    color: gray;
    width: 99%;
}



/* Button styles */



.fowleyButtonContainer {
    padding: 10px 0 5px 0;
}

.fowleyButton {
    border-radius: 8px;
    background-color: transparent;
    font-family: 'Lato', sans-serif;
    position: relative;
    display: inline-block;
    width: 160px;
    height: 40px;
    cursor: pointer;
    z-index: 3;
}

.buttonBottomLayer {
    z-index: 1;
    border-radius: 8px;
    box-shadow: 0px 2px 4px 1px rgb(206, 206, 206);
    background-color:rgb(255, 255, 255);
    position: absolute;
    width: 160px;
    height: 40px;
}

.buttonLayerAccent {
    height: 40px;
    position: absolute;
    background-color: #250daa;
    border-radius: 8px 0 0 8px;
    width: 10px;
    z-index: 2;
}

.fowleyButtonText {
    line-height: 40px;
    padding-left: 30px;
    font-weight: bold;
    display: inline-block;
}

.fowleyButtonContainer a:link, .fowleyButtonContainer a:visited, .fowleyButtonContainer a:hover, .fowleyButtonContainer a:active {
    font-size: 14px;
    text-transform: uppercase;
    text-decoration: none;
    color: #250daa;
}

.buttonSVG {
    width: 18px;
    height: 18px;
    margin-top: 11px;
    position: absolute; 
    right: 16px;
    display: inline-block;
}



/* Case studies styling */



.fowleyCaseStudies {
    width: 800px;
}

.projectsHeader {
    text-align: center;
    margin-bottom: 0;
    font-size: 16px;
    font-weight: 600;
    text-transform: uppercase;
}

.caseStudiesCards {
    display: flex;
    flex-flow: row wrap;
    justify-content: start;
    align-content: start;
}

.fowleyCaseStudies a, .fowleyCaseStudies a:active, .fowleyCaseStudies a:visited, .fowleyCaseStudies a:link, .fowleyCaseStudies a:hover {
    text-decoration: none;
    color: black;
}

.oneCaseStudy {
    height: 280px;
    width: 376px;
    display: flex;
    margin: 12px;
    flex-direction: column;
    background-color: rgb(250, 250, 250);
    box-shadow: 0px 2px 4px 1px rgb(206, 206, 206);
}

.caseStudyImage {
    width: 100%;
}

.caseStudyImage img {
    width: 100%;
}

.caseStudyName {
    font-weight: 600;
    font-size: 16px;
    text-align: center;
    line-height: 1em;
}

.caseStudyDescription {
    font-size: 14px;
    text-align: center;
    text-transform: uppercase;
    margin: 0 0 15px 0;
    font-weight: 400;
    font-family: 'Lato', sans-serif;
}




/* MINIMIZED DESKTOP VIEW */

@media only screen and (max-width: 1200px) and (min-width: 1025px) {
    
    .fowleyMain {
        width: 800px;
    }

    .fowleyCaseStudies {
        width: 400px;
    }
}




/* TABLET VIEW */

@media only screen and (max-width: 1024px) and (min-width: 768px) {

    .fowleyMain {
        width: 100%;
        flex-flow: column nowrap;
    }

    .fowleyIntro {
        position: relative;
        width: 100%;
        padding: 0;
        top: 0;
        display: flex;
        flex-flow: row nowrap;
        justify-content: center;
    }

    .fowleyIntroContainer {
        width: 80%;
    }

    .fowleyGreeting {
        text-align: center;
    }

    .fowleyLinks {
        display: flex;
        flex-flow: row wrap;
    }

    .fowleyButtonContainer {
        padding: 6px 8px 12px 0;
    }

    .fowleyCaseStudies {
        width: 100%;
    }

    .caseStudiesCards {
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        align-content: start;
    }

    .oneCaseStudy {
        margin: 8px;
    }

    .homepageDivider {
        height: 1px;
        width: 100%;
        background-color: rgb(209, 209, 209);
        margin-top: 16px;
    }

}




/* MOBILE VIEW */

@media only screen and (max-width: 767px) {

    .fowleyMain {
        width: 100%;
        flex-flow: column nowrap;
    }

    .fowleyIntro {
        position: relative;
        width: 100%;
        padding: 0;
        top: 0;
        display: flex;
        flex-flow: row nowrap;
        justify-content: center;
    }

    .fowleyIntroContainer {
        width: 100%;
    }

    .fowleyGreeting {
        text-align: center;
    }

    .fowleyLinks {
        display: flex;
        flex-flow: column nowrap;
        align-items: center;
    }

    .fowleyButtonContainer {
        padding: 4px;
    }

    .fowleyCaseStudies {
        width: 100%;
    }

    .caseStudiesCards {
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        align-content: start;
    }

    .oneCaseStudy {
        margin-top: 6px;
    }

    .homepageDivider {
        height: 1px;
        width: 100%;
        background-color: rgb(209, 209, 209);
        margin-top: 20px;
    }

    .fowleyButton, .buttonBottomLayer {
        width: 200px;
    }

    .fowleyIntroParagraph {
        font-size: 16px;
        line-height: 1.5;
        text-align: left;
    }

}