body {
    display: flex;
    justify-content: center;
    min-width: 400px;
    background-color: rgb(236, 236, 236);
    font-family: 'Lato', sans-serif
}

.pageMain {
    width: 100%;
    margin: 30px 0 10px 0;
}

.titlePipe {
    margin: 0 12px;
}

.backHome {
    margin-top: 20px;
    margin-bottom: 38px;
    color: #4b4b4b;
    text-transform: uppercase;
    font-size: 14px;
}

.backHome a:link, .backHome a:visited, .backHome a:hover, .backHome a:active {
    color:#4b4b4b;
    font-size: 14px;
    text-transform: uppercase;
}

.pageTitle {
    font-size: 24px;
    font-weight: 600;
}

.projectType, .timerIcon {
    font-weight: 400;
    text-transform: uppercase;
    color:#3a3a3a;
    font-size: 14px;
    fill: #3e3e3e;
    height: 16px;
    
}

.pageContent {
    width: 900px;
}

/* Button styling */

.fowleyButton {
    border-radius: 8px;
    background-color: transparent;
    position: relative;
    display: inline-block;
    width: 280px;
    height: 40px;
    cursor: pointer;
    z-index: 3;
}

.buttonBottomLayer {
    z-index: 1;
    border-radius: 8px;
    box-shadow: 0px 2px 4px 1px rgb(206, 206, 206);
    background-color:rgb(255, 255, 255);
    position: absolute;
    width: 280px;
    height: 40px;
}

.buttonLayerAccent {
    height: 40px;
    position: absolute;
    background-color: #250daa;
    border-radius: 8px 0 0 8px;
    width: 10px;
    z-index: 2;
}

.fowleyButtonText {
    line-height: 40px;
    padding-left: 30px;
    font-weight: bold;
    display: inline-block;
}

.fowleyButtonContainer a:link, .fowleyButtonContainer a:visited, .fowleyButtonContainer a:hover, .fowleyButtonContainer a:active {
    font-size: 14px;
    text-transform: uppercase;
    text-decoration: none;
    color: #250daa;
    font-weight: 600;
}

.buttonSVG {
    width: 18px;
    height: 18px;
    margin-top: 11px;
    position: absolute; 
    right: 16px;
    display: inline-block;
}

/* END BUTTON STYLING */

.pageHeaderImage {
    width: 100%;
}

.pageHref, .pageHref:active, .pageHref:hover, .pageHref:visited, .pageHref:link {
    color:#4b2bff;
}

.pageParagraph {
    font-size: 16px;
    width:100%;
    line-height: 1.6em;
}

.authorNote {
    font-style: italic;
    font-size: 16px;
}

.pageSectionHeader {
    font-size: 20px;
    margin-top: 60px;
    margin-bottom: -10px;
}

.subSectionHeader {
    font-size: 17px;
    color: #250daa;
    margin-bottom: -6px;
    margin-top: 30px;
}

.userQuote {
    font-size: 16px;
    color: #5343af;
    margin-left: 40px;
    line-height: 1.6em;
    font-weight: semibold;
}

.quotedBy {
    font-weight: bold;
}

.pageContentImage {
    width:100%;
}

.imageDescription {
    text-align: center;
    font-size: 15px;
    font-style: italic;
    margin-top: 8px;
}

.articleEndFowleyIcon {
    height: 16px;
    width: auto;
    display: inline;
}

.referencesList li {
    margin-top: 15px;
}

.referencesList a {
    word-break: break-all;
}

.fowleyVideoContainer {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
}

.fowleyVideo {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.smallImageContainer {
    width: 100%;
    display: flex;
    justify-content: center;
}

.returnHomeEnd, .returnHomeEnd a:link, .returnHomeEnd a:hover, .returnHomeEnd a:visited, .returnHomeEnd a:active {
    margin: 40px 0;
    color: #4b4b4b;
    font-weight: 500;
    text-transform: uppercase;
    font-size: 14px;
}

@media only screen and (max-width: 900px) {
    .pageMain {
        width: 100%
    }

    .pageTitle {
        font-size: 22px;
    }

    .projectType {
        font-size: 12px;
    }

    .pageParagraph {
        font-size: 14px;
    }

    .pageSectionHeader {
        font-size: 16px;
        margin-top: 36px;
    }

    .subSectionHeader {
        font-size: 16px;
    }
}